In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt

%matplotlib inline

In [2]:
from matplotlib import font_manager, rc
plt.rcParams['axes.unicode_minus'] = False
f_path = "/users/hong/Documents/Library/Fonts/malgun.ttf"
font_name = font_manager.FontProperties(fname=f_path).get_name()
rc('font', family=font_name)

In [3]:
filename='C:\deep\\foodtruck/KoreaFoodTruck.csv'

In [4]:
foodtruck_data=pd.read_csv(filename, encoding='utf8', index_col=0, header=0)

In [5]:
ft_tbl = pd.DataFrame(foodtruck_data)
ft_locs = pd.DataFrame(ft_tbl[['사업장명','소재지전체주소','도로명전체주소']])

In [6]:
ft_locs.head()

            사업장명                      소재지전체주소                      도로명전체주소
﻿"번호"
1         유리성휴게점  제주특별자치도 서귀포시 색달동 2950-23번지                           NaN
2        천제 푸드트럭     제주특별자치도 서귀포시 중문동 2232번지   제주특별자치도 서귀포시 천제연로 132 (중문동)
3         중문푸드트럭     제주특별자치도 서귀포시 중문동 2232번지   제주특별자치도 서귀포시 천제연로 132 (중문동)
4      스트린런치푸드트럭     제주특별자치도 서귀포시 중문동 2503번지                           NaN
5       팜랜드 푸드트럭       경기도 안성시 공도읍 신두리 451번지           경기도 안성시 공도읍 대신두길 28

In [7]:
ft_locs = ft_locs.drop_duplicates()
ft_locs.head()

            사업장명                      소재지전체주소                      도로명전체주소
﻿"번호"
1         유리성휴게점  제주특별자치도 서귀포시 색달동 2950-23번지                           NaN
2        천제 푸드트럭     제주특별자치도 서귀포시 중문동 2232번지   제주특별자치도 서귀포시 천제연로 132 (중문동)
3         중문푸드트럭     제주특별자치도 서귀포시 중문동 2232번지   제주특별자치도 서귀포시 천제연로 132 (중문동)
4      스트린런치푸드트럭     제주특별자치도 서귀포시 중문동 2503번지                           NaN
5       팜랜드 푸드트럭       경기도 안성시 공도읍 신두리 451번지           경기도 안성시 공도읍 대신두길 28

In [8]:
ft_locs = ft_locs.dropna(how="all")
ft_locs.head()

            사업장명                      소재지전체주소                      도로명전체주소
﻿"번호"
1         유리성휴게점  제주특별자치도 서귀포시 색달동 2950-23번지                           NaN
2        천제 푸드트럭     제주특별자치도 서귀포시 중문동 2232번지   제주특별자치도 서귀포시 천제연로 132 (중문동)
3         중문푸드트럭     제주특별자치도 서귀포시 중문동 2232번지   제주특별자치도 서귀포시 천제연로 132 (중문동)
4      스트린런치푸드트럭     제주특별자치도 서귀포시 중문동 2503번지                           NaN
5       팜랜드 푸드트럭       경기도 안성시 공도읍 신두리 451번지           경기도 안성시 공도읍 대신두길 28

In [9]:
ft_locs["정리한전체주소"] =ft_locs['소재지전체주소']
ft_locs.head()

,사업장명,소재지전체주소,도로명전체주소,정리한전체주소
"﻿""번호""",,,,
1,유리성휴게점,제주특별자치도 서귀포시 색달동 2950-23번지,NaN,제주특별자치도 서귀포시 색달동 2950-23번지
2,천제 푸드트럭,제주특별자치도 서귀포시 중문동 2232번지,제주특별자치도 서귀포시 천제연로 132 (중문동),제주특별자치도 서귀포시 중문동 2232번지
3,중문푸드트럭,제주특별자치도 서귀포시 중문동 2232번지,제주특별자치도 서귀포시 천제연로 132 (중문동),제주특별자치도 서귀포시 중문동 2232번지
4,스트린런치푸드트럭,제주특별자치도 서귀포시 중문동 2503번지,NaN,제주특별자치도 서귀포시 중문동 2503번지
5,팜랜드 푸드트럭,경기도 안성시 공도읍 신두리 451번지,경기도 안성시 공도읍 대신두길 28,경기도 안성시 공도읍 신두리 451번지

In [10]:
ft_locs['정리한전체주소'].fillna(ft_locs['도로명전체주소'])
ft_locs.head()

,사업장명,소재지전체주소,도로명전체주소,정리한전체주소
"﻿""번호""",,,,
1,유리성휴게점,제주특별자치도 서귀포시 색달동 2950-23번지,NaN,제주특별자치도 서귀포시 색달동 2950-23번지
2,천제 푸드트럭,제주특별자치도 서귀포시 중문동 2232번지,제주특별자치도 서귀포시 천제연로 132 (중문동),제주특별자치도 서귀포시 중문동 2232번지
3,중문푸드트럭,제주특별자치도 서귀포시 중문동 2232번지,제주특별자치도 서귀포시 천제연로 132 (중문동),제주특별자치도 서귀포시 중문동 2232번지
4,스트린런치푸드트럭,제주특별자치도 서귀포시 중문동 2503번지,NaN,제주특별자치도 서귀포시 중문동 2503번지
5,팜랜드 푸드트럭,경기도 안성시 공도읍 신두리 451번지,경기도 안성시 공도읍 대신두길 28,경기도 안성시 공도읍 신두리 451번지

In [11]:
ft_locs = pd.DataFrame(ft_locs[['사업장명','정리한전체주소']])
ft_locs = ft_locs.dropna(subset=['정리한전체주소'], how='any')

In [12]:
ft_locs.head(n=15)

                  사업장명                                            정리한전체주소
﻿"번호"
1               유리성휴게점                        제주특별자치도 서귀포시 색달동 2950-23번지
2              천제 푸드트럭                           제주특별자치도 서귀포시 중문동 2232번지
3               중문푸드트럭                           제주특별자치도 서귀포시 중문동 2232번지
4            스트린런치푸드트럭                           제주특별자치도 서귀포시 중문동 2503번지
5             팜랜드 푸드트럭                             경기도 안성시 공도읍 신두리 451번지
6             나사트레일러커피        경기도 화성시 봉담읍 하가등리 107-1번지 화성그린환경센터 주민편익시설 내
7           시현이네(푸드트럭)  경기도 남양주시 이패동 산 87번지 남양주종합운동장내푸드트럭/실내체육관 정문광장 오른쪽
8           푸드트럭(악양둑방)                  경상남도 함안군 법수면 윤외리 104-2번지 악양 둑방 내
9             부여커피푸드트럭                            충청남도 부여군 규암면 반산리 172번지
10               어바웃커피                           대전광역시 유성구 봉명동 700번지 갑천변
11        경천대 푸드트럭 휴게소                            경상북도 상주시 사벌면 삼덕리 3-3번지
12              쉼터작은공간     인천광역시 계양구 평동 23-12번지 경인아라뱃길푸드트럭 일반존I(인천) 벌말교7
13                 호끌락                        제주특별자치도 제주시 건입동 505-2번지 일원
14     Cafe solo(카페솔로)                         인천광역시 서구 시천동 119-4번지 시천교8
15               브라움카페            대구광역시 중구 대봉동 0214-0031번지 신천둔치 푸드트럭 제2호

In [13]:
ft_locs_cut = pd.DataFrame(ft_locs['정리한전체주소'].apply(lambda v: v.split()[:2]).tolist(),
                        columns=('d1', 'd2'))

In [14]:
d2_aliases = """연기면:세종특별자치시 금남면:세종특별자치시 조치원읍:세종특별자치시 어진동:세종특별자치시 한솔동:세종특별자치시 아름동:세종특별자치시"""

In [15]:
ft_locs_cut['d1'].unique()

array(['제주특별자치도', '경기도', '경상남도', '충청남도', '대전광역시', '경상북도', '인천광역시',
       '대구광역시', '서울특별시', '강원도', '광주광역시', '세종특별자치시', '전라남도', '부산광역시',
       '울산광역시', '충청북도', '전라북도'], dtype=object)

In [16]:
ft_locs_cut['d2'].unique()

array(['서귀포시', '안성시', '화성시', '남양주시', '함안군', '부여군', '유성구', '상주시', '계양구',
       '제주시', '서구', '중구', '영등포구', '평창군', '춘천시', '마포구', '동구', '성동구', '수원시',
       '사천시', '연기면', '고흥군', '수성구', '남해군', '안양시', '평택시', '대덕구', '칠곡군',
       '북구', '서초구', '조치원읍', '종로구', '공주시', '아산시', '부산진구', '금산군', '사상구',
       '남구', '안산시', '부평구', '양평군', '금천구', '해운대구', '어진동', '양주시', '완도군',
       '거창군', '고양시', '보성군', '의성군', '김해시', '기장군', '강남구', '강릉시', '송파구',
       '통영시', '강화군', '동해시', '가평군', '광진구', '강서구', '양산시', '의왕시', '과천시',
       '양천구', '성남시', '함양군', '창녕군', '청주시', '용인시', '신안군', '인제군', '홍천군',
       '오산시', '청양군', '당진시', '하동군', '은평구', '의령군', '부천시', '동작구', '김포시',
       '횡성군', '경주시', '군산시', '의정부시', '밀양시', '문경시', '충주시', '천안시', '부안군',
       '포항시', '광주시', '달서구', '익산시', '이천시', '남동구', '광산구', '강동구', '중랑구',
       '구로구', '연천군', '파주시', '진주시', '창원시', '도봉구', '거제시', '경산시', '연제구',
       '서대문구', '장흥군', '하남시', '금정구', '관악구', '연수구', '동두천시', '태안군', '양양군',
       '예산군', '사하구', '동래구', '구미시', '진천군', '철원군', '화순군', '노원구', '김제시',
       '고창군', '고성군', '여주시', '정선군', '광명시', '영도구', '영덕군', '괴산군', '삼척시',
       '원주시', '전주시', '합천군', '무안군', '울주군', '시흥시', '군포시', '아름동', '강북구',
       '달성군', '산청군', '미추홀구', '양구군', '서천군', '남원시', '한솔동', '함평군', '음성군',
       '제천시', '여수시'], dtype=object)

In [17]:
ft_locs_cut[ft_locs_cut['d2'].apply(lambda v:v[-1] not in '시군구')]

           d1    d2
29    세종특별자치시   연기면
30    세종특별자치시   연기면
31    세종특별자치시   연기면
32    세종특별자치시   연기면
33    세종특별자치시   연기면
34    세종특별자치시   연기면
35    세종특별자치시   연기면
36    세종특별자치시   연기면
61    세종특별자치시  조치원읍
125   세종특별자치시   어진동
154   세종특별자치시   연기면
173   세종특별자치시  조치원읍
174   세종특별자치시  조치원읍
175   세종특별자치시  조치원읍
211   세종특별자치시  조치원읍
212   세종특별자치시  조치원읍
213   세종특별자치시  조치원읍
316   세종특별자치시  조치원읍
484   세종특별자치시  조치원읍
658   세종특별자치시   어진동
688   세종특별자치시  조치원읍
710   세종특별자치시   어진동
714   세종특별자치시   어진동
809   세종특별자치시  조치원읍
1086  세종특별자치시   연기면
1104  세종특별자치시   아름동
1114  세종특별자치시   아름동
1176  세종특별자치시   어진동
1177  세종특별자치시   어진동
1309  세종특별자치시   연기면
1312  세종특별자치시   연기면
1313  세종특별자치시   한솔동
1450  세종특별자치시   어진동

시군구에 속하지 않는 값들이 모두 세종특별자치시에 속해 찾아보니 구가 없고 읍면동으로만 구성 
-> d2의 값들을 세종시로 지정

In [18]:
d2_aliases = """연기면:세종특별자치시 금남면:세종특별자치시 조치원읍:세종특별자치시 어진동:세종특별자치시 한솔동:세종특별자치시 아름동:세종특별자치시"""

In [19]:
d2_aliases = dict(aliasset.split(':') for aliasset in d2_aliases.split())

In [20]:
ft_locs_cut['d2'] = ft_locs_cut['d2'].apply(lambda v: d2_aliases.get(v, v))

In [21]:
ft_locs_cut['d2'].unique()

array(['서귀포시', '안성시', '화성시', '남양주시', '함안군', '부여군', '유성구', '상주시', '계양구',
       '제주시', '서구', '중구', '영등포구', '평창군', '춘천시', '마포구', '동구', '성동구', '수원시',
       '사천시', '세종특별자치시', '고흥군', '수성구', '남해군', '안양시', '평택시', '대덕구', '칠곡군',
       '북구', '서초구', '종로구', '공주시', '아산시', '부산진구', '금산군', '사상구', '남구',
       '안산시', '부평구', '양평군', '금천구', '해운대구', '양주시', '완도군', '거창군', '고양시',
       '보성군', '의성군', '김해시', '기장군', '강남구', '강릉시', '송파구', '통영시', '강화군',
       '동해시', '가평군', '광진구', '강서구', '양산시', '의왕시', '과천시', '양천구', '성남시',
       '함양군', '창녕군', '청주시', '용인시', '신안군', '인제군', '홍천군', '오산시', '청양군',
       '당진시', '하동군', '은평구', '의령군', '부천시', '동작구', '김포시', '횡성군', '경주시',
       '군산시', '의정부시', '밀양시', '문경시', '충주시', '천안시', '부안군', '포항시', '광주시',
       '달서구', '익산시', '이천시', '남동구', '광산구', '강동구', '중랑구', '구로구', '연천군',
       '파주시', '진주시', '창원시', '도봉구', '거제시', '경산시', '연제구', '서대문구', '장흥군',
       '하남시', '금정구', '관악구', '연수구', '동두천시', '태안군', '양양군', '예산군', '사하구',
       '동래구', '구미시', '진천군', '철원군', '화순군', '노원구', '김제시', '고창군', '고성군',
       '여주시', '정선군', '광명시', '영도구', '영덕군', '괴산군', '삼척시', '원주시', '전주시',
       '합천군', '무안군', '울주군', '시흥시', '군포시', '강북구', '달성군', '산청군', '미추홀구',
       '양구군', '서천군', '남원시', '함평군', '음성군', '제천시', '여수시'], dtype=object)

In [22]:
ft_locs_cut['전체주소'] = ft_locs_cut['d1']+[' ']+ft_locs_cut['d2'] 
ft_locs_cut.head()

        d1    d2          전체주소
0  제주특별자치도  서귀포시  제주특별자치도 서귀포시
1  제주특별자치도  서귀포시  제주특별자치도 서귀포시
2  제주특별자치도  서귀포시  제주특별자치도 서귀포시
3  제주특별자치도  서귀포시  제주특별자치도 서귀포시
4      경기도   안성시       경기도 안성시

※ ft_locs_cut에서 추출한 값을 Series 형태로 저장

In [23]:
# tmp = ft_locs_cut['전체주소'].value_counts()

# type(tmp)
# tmp.head()

In [24]:
# tmp.index

In [25]:
# print(tmp['강원도 동해시'])

※

In [26]:
F = ft_locs_cut.apply(lambda r: r['d1'] + ' '+ r['d2'], 
                      axis=1).value_counts()
type(F)
F.head()

서울특별시 영등포구    137
서울특별시 서초구     106
서울특별시 중구       80
경기도 수원시        46
경상남도 김해시       33
dtype: int64

In [27]:
FT = pd.DataFrame({'푸드트럭 수':F}).fillna(0)
type(FT)
FT.head()

            푸드트럭 수
서울특별시 영등포구     137
서울특별시 서초구      106
서울특별시 중구        80
경기도 수원시         46
경상남도 김해시        33

In [28]:
FT.index

Index(['서울특별시 영등포구', '서울특별시 서초구', '서울특별시 중구', '경기도 수원시', '경상남도 김해시',
       '세종특별자치시 세종특별자치시', '부산광역시 기장군', '서울특별시 마포구', '경기도 고양시', '서울특별시 종로구',
       ...
       '경상남도 함양군', '경상남도 하동군', '충청북도 음성군', '경상북도 경주시', '서울특별시 구로구', '경상북도 상주시',
       '대구광역시 남구', '충청북도 진천군', '서울특별시 도봉구', '강원도 동해시'],
      dtype='object', length=166)

In [29]:
FT["전체주소"] = FT.index
FT.head()

            푸드트럭 수        전체주소
서울특별시 영등포구     137  서울특별시 영등포구
서울특별시 서초구      106   서울특별시 서초구
서울특별시 중구        80    서울특별시 중구
경기도 수원시         46     경기도 수원시
경상남도 김해시        33    경상남도 김해시

In [30]:
FT = FT.reset_index(drop=True)
FT.head()

   푸드트럭 수        전체주소
0     137  서울특별시 영등포구
1     106   서울특별시 서초구
2      80    서울특별시 중구
3      46     경기도 수원시
4      33    경상남도 김해시

In [31]:
num = pd.DataFrame(FT['전체주소'].apply(lambda v: v.split()[:2]).tolist(),
                        columns=('광역시도', '행정구역'))
num.head()

    광역시도  행정구역
0  서울특별시  영등포구
1  서울특별시   서초구
2  서울특별시    중구
3    경기도   수원시
4   경상남도   김해시

In [32]:
FT = pd.concat([num, FT], axis=1)
FT.head()

    광역시도  행정구역  푸드트럭 수        전체주소
0  서울특별시  영등포구     137  서울특별시 영등포구
1  서울특별시   서초구     106   서울특별시 서초구
2  서울특별시    중구      80    서울특별시 중구
3    경기도   수원시      46     경기도 수원시
4   경상남도   김해시      33    경상남도 김해시

In [33]:
ft_latlon = pd.read_csv('C:\deep\\foodtruck/data_draw_korea.csv', index_col=0,
                        encoding='CP949') 
ft_latlon.values

array([[202520, '강릉', 11, ..., 1040.07, '강원도', '강릉시'],
       [25589, '고성(강원)', 9, ..., 664.19, '강원도', '고성군'],
       [86747, '동해', 11, ..., 180.01, '강원도', '동해시'],
       ...,
       [62809, '진천', 5, ..., 406.08, '충청북도', '진천군'],
       [790216, '청주', 6, ..., 932.51, '충청북도', '청주시'],
       [198077, '충주', 6, ..., 983.7, '충청북도', '충주시']], dtype=object)

In [34]:
ft_latlon.index

Int64Index([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,
            ...
            219, 220, 221, 222, 223, 224, 225, 226, 227, 228],
           dtype='int64', length=229)

In [35]:
ft_latlon.columns

Index(['인구수', 'shortName', 'x', 'y', '면적', '광역시도', '행정구역'], dtype='object')

In [36]:
FT.columns

Index(['광역시도', '행정구역', '푸드트럭 수', '전체주소'], dtype='object')

In [37]:
FT = pd.merge(FT, ft_latlon, how='outer')
FT.head()

    광역시도  행정구역  푸드트럭 수        전체주소        인구수 shortName    x     y      면적
0  서울특별시  영등포구   137.0  서울특별시 영등포구   351837.0     서울영등포  4.0   6.0   24.56
1  서울특별시   서초구   106.0   서울특별시 서초구   407416.0      서울서초  6.0   6.0   47.04
2  서울특별시    중구    80.0    서울특별시 중구   114967.0      서울중구  6.0   4.0    9.96
3    경기도   수원시    46.0     경기도 수원시  1125461.0        수원  6.0   9.0  121.09
4   경상남도   김해시    33.0    경상남도 김해시   500641.0        김해  8.0  19.0  463.26

In [38]:
print("null check, total:", len(FT))
print(FT.isnull().sum())

null check, total: 231
광역시도          0
행정구역          0
푸드트럭 수       65
전체주소         65
인구수           2
shortName     2
x             2
y             2
면적            2
dtype: int64

CSV 파일 저장

In [64]:
"""
%time FT.to_csv(path_or_buf= 'C:\deep\\foodtruck/analysisFT.csv',\
    sep=str(','), header=True,index=True, mode='w')
"""

"\n%time FT.to_csv(path_or_buf= 'C:\\deep\\foodtruck/analysisFT.csv',    sep=str(','), header=True,index=True, mode='w')\n"

In [40]:
FT['푸드트럭 수'].fillna(value=0)
FT[pd.isnull(FT['푸드트럭 수'])].head()

    광역시도 행정구역  푸드트럭 수 전체주소       인구수 shortName     x    y       면적
166  강원도  속초시     NaN  NaN   76733.0        속초   9.0  1.0   105.25
167  강원도  영월군     NaN  NaN   34966.0        영월  10.0  8.0  1127.36
168  강원도  태백시     NaN  NaN   44175.0        태백  11.0  7.0   303.57
169  강원도  화천군     NaN  NaN   23612.0        화천   7.0  0.0   909.45
170  경기도  구리시     NaN  NaN  175676.0        구리   9.0  4.0    33.30

In [41]:
# print(FT['x'][3])
# print(FT[FT == '수원시'])

In [42]:
# FT[pd.isnull(FT['시도'])]

In [43]:
# FT[pd.isnull(FT['광역시도'])]

In [44]:
FT = FT.drop('전체주소', axis=1)
FT.head()

    광역시도  행정구역  푸드트럭 수        인구수 shortName    x     y      면적
0  서울특별시  영등포구   137.0   351837.0     서울영등포  4.0   6.0   24.56
1  서울특별시   서초구   106.0   407416.0      서울서초  6.0   6.0   47.04
2  서울특별시    중구    80.0   114967.0      서울중구  6.0   4.0    9.96
3    경기도   수원시    46.0  1125461.0        수원  6.0   9.0  121.09
4   경상남도   김해시    33.0   500641.0        김해  8.0  19.0  463.26

In [45]:
FT[FT['x'].apply(np.isnan)]

       광역시도     행정구역  푸드트럭 수  인구수 shortName   x   y  면적
5   세종특별자치시  세종특별자치시    33.0  NaN       NaN NaN NaN NaN
68    인천광역시     미추홀구     6.0  NaN       NaN NaN NaN NaN

In [46]:
FT[FT['광역시도'] == '인천광역시']

      광역시도  행정구역  푸드트럭 수       인구수 shortName    x    y      면적
43   인천광역시    서구     9.0  477567.0      인천서구  1.0  4.0  137.05
46   인천광역시    중구     9.0  105029.0      인천중구  1.0  7.0  110.60
54   인천광역시   계양구     8.0  317785.0      인천계양  2.0  5.0   45.58
56   인천광역시   부평구     8.0  527153.0      인천부평  2.0  6.0   32.00
65   인천광역시   남동구     6.0  505791.0      인천남동  2.0  8.0   56.90
68   인천광역시  미추홀구     6.0       NaN       NaN  NaN  NaN     NaN
102  인천광역시   강화군     2.0   58296.0      인천강화  1.0  3.0  411.20
128  인천광역시   연수구     1.0  299734.0      인천연수  1.0  8.0   33.76
198  인천광역시    남구     NaN  388535.0      인천남구  2.0  7.0   24.47
199  인천광역시    동구     NaN   68950.0      인천동구  1.0  5.0    7.05
200  인천광역시   옹진군     NaN   17735.0      인천옹진  0.0  8.0  164.30

In [47]:
FT[FT['행정구역'] == '미추홀구']

     광역시도  행정구역  푸드트럭 수  인구수 shortName   x   y  면적
68  인천광역시  미추홀구     6.0  NaN       NaN NaN NaN NaN

2018년 7월 1일부터 본래 명칭인 '남구'에서 '미추홀구'로 변경됨. -> 남구의 값에서 행정구역 이름만 교체하기

In [48]:
FT.iloc[198] = ['인천광역시', '미추홀구', '6.0', '388535.0','인천미추홀','2.0', '7.0', '24.47']

In [49]:
FT[FT['행정구역'] == '미추홀구']

      광역시도  행정구역 푸드트럭 수       인구수 shortName    x    y     면적
68   인천광역시  미추홀구      6       NaN       NaN  NaN  NaN    NaN
198  인천광역시  미추홀구    6.0  388535.0     인천미추홀  2.0  7.0  24.47

＃ 특정값을 가지는 인덱스 추출방법
ix/iloc

In [62]:
print(FT.ix[68])
print("------------------------------")
print(FT.iloc[68])

광역시도         인천광역시
행정구역          미추홀구
푸드트럭 수           6
인구수            NaN
shortName      NaN
x              NaN
y              NaN
면적             NaN
Name: 68, dtype: object
------------------------------
광역시도         인천광역시
행정구역          미추홀구
푸드트럭 수           6
인구수            NaN
shortName      NaN
x              NaN
y              NaN
면적             NaN
Name: 68, dtype: object

In [65]:
FT = FT.drop(68, axis=0)

In [66]:
FT[FT['행정구역'] == '미추홀구']

      광역시도  행정구역 푸드트럭 수       인구수 shortName    x    y     면적
198  인천광역시  미추홀구    6.0  388535.0     인천미추홀  2.0  7.0  24.47

In [67]:
FT[FT['광역시도'] == '세종특별자치시']

        광역시도     행정구역 푸드트럭 수     인구수 shortName    x    y      면적
5    세종특별자치시  세종특별자치시     33     NaN       NaN  NaN  NaN     NaN
195  세종특별자치시      세종시    NaN  191233        세종    4   11  465.23

In [68]:
FT.iloc[5] = ['세종특별자치시', '세종특별자치시', '33.0', '191233.0','세종','4.0', '11.0', '465.23']

In [69]:
FT = FT.drop(195, axis=0)

In [70]:
FT[FT['광역시도'] == '세종특별자치시']

      광역시도     행정구역 푸드트럭 수       인구수 shortName    x     y      면적
5  세종특별자치시  세종특별자치시   33.0  191233.0        세종  4.0  11.0  465.23

In [79]:
print(FT.isnull().sum())

0

In [80]:
from matplotlib import rcParams
from matplotlib import cm, colors, _cm
rcParams['font.family'] = 'NanumBarunGothic'

In [81]:
import drawKorea

ImportError: No module named 'drawKorea'